{% extends 'index.html' %}

{% block title %}
    {{quiz.title}} - GuessItRight
{% endblock title %}

{% block content %}

    <h1 class="display-4 text-center my-5">{{quiz.title}} - ({{quiz.question_set.all|length}})</h1>
    <p class="fs-4 text-center container">{{quiz.description}}</p>

    <div class="container">
        <div class="d-flex justify-content-between">
            <span class="fs-5">{{quiz.created_at}}</span>
            <span class="fs-5" id="timer">00:00</span>
        </div>

        {% for message in messages %}
        <div id="message-div">
            <h4 class="text-center text-success">{{message}}</h4>
        </div>
        {% endfor %}

        <div class="questions my-4">
            {% for question in  quiz.question_set.all %}
            <div class="card mb-2 question"> 
                <div class="card-header fw-bold">
                    Question {{forloop.counter}}
                </div>
                <div class="card-body">
                    <p class="card-text">{{ question.text }}</p>
                    {% for option in question.choice_set.all %}
                    <div class="form-check">
                        <label class="form-check-label" for="{{option.id}}">
                            <input class="form-check-input" type="radio" value="{{option.text}}" name="{{option.question.id}}" id="{{option.id}}">
                            {{option.text}}
                        </label>
                        {% if option.is_correct %} 
                        <span class="visually-hidden correct-answer">{{option.text}}</span>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
        <form action="" method="POST" id="quiz-form">
            {% csrf_token %}
            <input type="hidden" name="score" value="0" id = "user-score">
            

            <button type="submit" class="btn btn-primary" id="submit-button">Submit</button>
        </form>

    </div>

    <script>
        var submitButton = document.getElementById("submit-button") ; 
        var timerSpan = document.getElementById("timer") ; 
        var questions = document.querySelectorAll(".question") ; 
        var quizForm = document.getElementById("quiz-form") ; 
        var userScoreInput = document.getElementById("user-score")

        var quizDuration = (questions.length) * 60
        
        // Update Timer
        function updateTimer() {
            var minutes = Math.floor(quizDuration/60) ; 
            var seconds = quizDuration % 60 ; 

            timerSpan.innerText = minutes + ":" + (seconds < 10 ? "0" + seconds : seconds);
 

            if(quizDuration <= 0) {
                //Automatically Submit the Quiz
                clearTimeout(quizTimerId) ; 
                submitQuiz() ; 
            } else if(document.getElementById("message-div")) {
                clearTimeout(quizTimerId) ; 
                highlightCorrectAnswers() ; 
            } else {
                quizDuration-- ;
            }
        } 

        function submitQuiz() {
            //Calculate the Score
            calculateScore()

            //Submit the quiz
            quizForm.submit()
        } 


        // Check Right Answer & Calculate the Score
        function calculateScore() {
            var score = 0 ; 

            questions.forEach(question => {
                var selectedInput = question.querySelector('input:checked') ; 
                var correctAnswer = question.querySelector(".correct-answer").innerText ;

                if(selectedInput && selectedInput.value === correctAnswer) {
                    score += 1 ;
                }
            }) ; 
            
            userScoreInput.value = score;
        }

        function highlightCorrectAnswers() {
            questions.forEach(question => {
                var correctAnswer = question.querySelector(".correct-answer ")
                correctAnswer.previousElementSibling.querySelector("input").classList.add("bg-success")
                correctAnswer.previousElementSibling.classList.add("fw-bold")
            })

            submitButton.disabled = true ; 

            var options = document.querySelectorAll(".form-check-input") ; 
            options.forEach(option => {
                option.disabled = true ; 
            })

        }

        submitButton.addEventListener("click", submitQuiz) ; 

        quizTimerId = setInterval(updateTimer, 1000) ; 
    </script>

{% endblock content %}